body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #232D3F;
  height: 100vh;
}
.container{
  display: flex;
  justify-content:center;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  width: 340px;
  text-align: center;

}
button{
  padding: 10px;
  border-radius: 5px;
  width: 300px;
  background-color: #F94C10;

}
a{
  text-decoration: none;
  font-size: 20px;
  color: white;

}
svg{
  float: left;
}
@media (max-width:760px) {
  body{
    background-color: inherit;
    justify-content: flex-start;
  }
  .container{
    justify-content: flex-start;
    height: 100vh;
  }
  svg{
    margin-bottom: 30px;
  }
}
